module fusor 1.0;

require {
#Common
type passenger_t;
class dir { create read write search add_name getattr remove_name mounton open};
class file { getattr read create open ioctl append write execute execute_no_trans rename setattr lock unlink };
class tcp_socket { name_bind name_connect };

type httpd_sys_rw_content_t;
type ssh_home_t;
type unreserved_port_t;
type osapi_compute_port_t;
type mmcc_port_t;
type ldap_port_t;

#Logging
type foreman_log_t;
type tomcat_log_t;
type var_log_t;

#Openstack
type keystone_port_t;
type neutron_port_t;
type glance_port_t;

#Openshift
type ssh_keygen_exec_t;

#NFS & GlusterFS
type kernel_t;
type sudo_db_t;
type hi_reserved_port_t;
type shadow_t;
type chkpwd_exec_t;
type sudo_exec_t;
type nfs_port_t;
type showmount_exec_t;
class capability audit_write;
class netlink_audit_socket { nlmsg_relay create };
class udp_socket name_bind;
type mount_var_run_t;
type passenger_var_run_t;
type passenger_tmp_t;
type mount_exec_t;
type nfs_t;
type var_lib_nfs_t;
class process setrlimit;
class filesystem { mount unmount getattr };
type portmap_port_t;
class capability sys_admin;
class system module_request;
type mountd_port_t;
type gluster_port_t;
type rpcd_t;
type rpcd_unit_file_t;
type rpcd_exec_t;
type systemd_systemctl_exec_t;
class service { status start };
type pop_port_t;
class sock_file write;
type rpcbind_var_run_t;

#validation with sys-filesystem
class process execmem;

#dhcp BZ 1356166
type dhcpc_t;
type policykit_t;
class dbus send_msg;
}

#============= passenger_t ==============
allow passenger_t httpd_sys_rw_content_t:dir search;
allow passenger_t httpd_sys_rw_content_t:file { read getattr open ioctl };
allow passenger_t ssh_home_t:dir { write add_name };
allow passenger_t ssh_home_t:file { create append write };
allow passenger_t osapi_compute_port_t:tcp_socket name_connect;
allow passenger_t unreserved_port_t:tcp_socket name_connect;
allow passenger_t mmcc_port_t:tcp_socket name_connect;
allow passenger_t mountd_port_t:tcp_socket name_connect;

#Logging
allow passenger_t foreman_log_t:dir create;
allow passenger_t tomcat_log_t:file { read open };
allow passenger_t var_log_t:file { read open };

#Openstack
allow passenger_t keystone_port_t:tcp_socket name_connect;
allow passenger_t neutron_port_t:tcp_socket name_connect;
allow passenger_t glance_port_t:tcp_socket name_connect;

#Openshift
allow passenger_t ssh_home_t:dir { create read write add_name };
allow passenger_t ssh_keygen_exec_t:file { read getattr open execute execute_no_trans };

#NFS & GlusterFS
allow passenger_t chkpwd_exec_t:file { read execute open execute_no_trans };
allow passenger_t hi_reserved_port_t:tcp_socket name_bind;
allow passenger_t hi_reserved_port_t:udp_socket name_bind;
allow passenger_t nfs_port_t:tcp_socket name_connect;
allow passenger_t self:capability audit_write;
allow passenger_t self:netlink_audit_socket { nlmsg_relay create };
allow passenger_t shadow_t:file { read getattr open };
allow passenger_t showmount_exec_t:file { read getattr open execute execute_no_trans };
allow passenger_t sudo_db_t:dir getattr;
allow passenger_t sudo_exec_t:file { read getattr open execute execute_no_trans };
allow passenger_t mount_exec_t:file { read getattr open execute execute_no_trans };
allow passenger_t mount_var_run_t:dir { write remove_name add_name search };
allow passenger_t mount_var_run_t:file { rename setattr read lock create write getattr unlink open };
allow passenger_t nfs_t:dir { search read mounton open getattr };
allow passenger_t nfs_t:filesystem { mount unmount getattr };
allow passenger_t passenger_tmp_t:dir mounton;
allow passenger_t self:process setrlimit;
allow passenger_t portmap_port_t:tcp_socket name_connect;
allow passenger_t self:capability sys_admin;
allow passenger_t kernel_t:system module_request;
allow passenger_t gluster_port_t:tcp_socket name_connect;
allow passenger_t rpcd_exec_t:file { getattr read execute open execute_no_trans };
allow passenger_t systemd_systemctl_exec_t:file { getattr read execute open execute_no_trans };
allow passenger_t var_lib_nfs_t:dir { search read mounton open getattr write add_name remove_name };
allow passenger_t var_lib_nfs_t:file { create read open getattr write };
allow passenger_t ldap_port_t:tcp_socket name_bind;
allow passenger_t pop_port_t:tcp_socket name_bind;
allow passenger_t rpcd_unit_file_t:service { status start };
allow passenger_t rpcbind_var_run_t:sock_file write;
allow rpcd_t      passenger_var_run_t:file unlink;

#sys-filesystem
allow passenger_t self:process execmem;

#dhcp BZ 1356166
allow dhcpc_t policykit_t:dbus send_msg;
allow policykit_t dhcpc_t:dbus send_msg;
