module fusor 1.0;

require {
type passenger_t;
type httpd_sys_rw_content_t;
type ssh_home_t;
type unreserved_port_t;
type osapi_compute_port_t;
type mmcc_port_t;
type keystone_port_t;
type neutron_port_t;
class tcp_socket name_connect;
class dir { write search add_name };
class file { getattr read create open ioctl append write };
}

#============= passenger_t ==============
allow passenger_t httpd_sys_rw_content_t:dir search;
allow passenger_t httpd_sys_rw_content_t:file { read getattr open ioctl };
allow passenger_t ssh_home_t:dir { write add_name };
allow passenger_t ssh_home_t:file { create append write };
allow passenger_t osapi_compute_port_t:tcp_socket name_connect;
allow passenger_t unreserved_port_t:tcp_socket name_connect;
allow passenger_t mmcc_port_t:tcp_socket name_connect;
allow passenger_t keystone_port_t:tcp_socket name_connect;
allow passenger_t neutron_port_t:tcp_socket name_connect;

